.grid-container {
	display: grid;
	place-items: center;
	background-image: url("https://image.freepik.com/free-vector/space-game-background-neon-night-alien-landscape_107791-1624.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
}
#survey-form {
	background: antiquewhite;
	padding: 15px;
	border-radius: 25px;
}
header {
	color: white;
	font-weight: 300;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1.5rem;
	color: gray;
}
@media (max-width: 480px) {
	footer {
		position: relative;
		bottom: -10px;
		font-size: small;
	}
}
#user-info {
	display: grid;
	place-items: left;
}
#user-info * {
	margin: 5px;
}
#title {
	display: grid;
	place-items: center;
}
textarea {
	width: 100%;
	resize: vertical;
}
#submit {
	position: relative;
	left: 30%;
	width: 40%;
}
