.grid-container {
	display: grid;
	place-items: center;
	background-image: url("https://image.freepik.com/free-vector/space-game-background-neon-night-alien-landscape_107791-1624.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
}
#survey-form {
	background: #9c93fd;
	padding: 15px;
	border-radius: 25px;
}
header {
	color: white;
	font-weight: 300;
}
footer {
	color: gray;
	margin-top: 10px;
}
@media (max-width: 480px) {
	footer {
		font-size: small;
	}
}
#user-info {
	display: grid;
	place-items: left;
}
#user-info * {
	margin: 5px;
}
#title {
	display: grid;
	place-items: center;
	margin-block-start: 0.55em;
	margin-block-end: 0.55em;
}
textarea {
	width: 100%;
	resize: vertical;
	border: none;
	outline: none;
	background: #e1dffd;
	border-radius: 3px;
	margin-bottom: 12px;
	font-family: "Roboto", sans-serif;
}
textarea:focus::placeholder {
	color: transparent;
}
textarea::placeholder {
	transition: color 0.3s ease-out;
}
#submit {
	background: #7c75c9;
	border: none;
	border-radius: 10px;
	padding: 10px;
	width: 50%;
	margin: auto;
	display: grid;
	place-items: center;
}
#submit:focus {
	background: #a39ed9;
}
.input-area {
	border: none;
	outline: none;
	background: #e1dffd;
	border-radius: 3px;
	padding: 7.5px;
}
.input-area:focus::placeholder {
	color: transparent;
}
.input-area::placeholder {
	transition: color 0.3s ease-out;
}
